{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block content %}
<div class="hideMap" id="map"></div>
<br>
<div class="container">
    <a class="toggleMap">Toggle Map</a>
    <div style="font-size: 20px">About</div>
    <p>"No matter what she's wearing, no matter whether she's in a bar, in a dormitory,
    in the back seat of a car, on a street, drunk or sober, no man has a right to go beyond the word "no".
    And if she can't consent, it also means no. That too makes it a crime."</p>
    <p>- Vice President Joe Biden, January 22, 2014</p>
    
    <p>This site aims to foster discussion and give perspective to the issue of sexual assault on
    university campuses across the US. The conversation on sexual assault is a priority topic of the
    federal government.
    As a part of a presidential
    <a href="http://www.whitehouse.gov/the-press-office/2014/01/22/memorandum-establishing-white-house-task-force-protect-students-sexual-a">
    task force report released by the White House></a> Vice President Joe Biden has begun
    the first of many "listening sessions" that aim to increase the dialogue about sexual
    assault on college campuses. </p>
    
    <p>"I'm here to listen. I want you to tell me what you think works on your campuses in your
    experience, what's not working in your schools, what we should be doing that we aren't doing,
    what we are doing that is not making much sense."
    <p>-Biden </p>
    
    <p>This site is for recent survivors of sexual assault seeking resources and support,
    past survivors seeking an outlet to tell their story and hear the stories of others,
    individuals who want to be educated on the issue of sexual assault.</p>
    
    <p>Survivor Stories: This site aims to create a forum for survivors of sexual assault.
    Those that come forward are courageous for sharing their story, we applaud their
    frankness and honesty. Individuals input their stories of sexual assault, either identifying
    themselves or remaining anonymous, and this site moderates these posts. </p>
    
    <p>Sources: </p>
    <p>School information and statistics - <a href="http://colleges.usnews.rankingsandreviews.com/best-colleges">
    US News World Report</a>,
    href="https://bigfuture.collegeboard.org/college-search?navid=gh-cs">College Board</a>.
    </p>
    
    <p>Independent School Newspapers for the School Feed </p>
    
    <p>Resources for survivors of Sexual Assault and Violence - Campus Health, Sexual Health, Counseling Services </p>
    
    <p>"Freedom from sexual assault is a basic human right." </p>
</div>

{% endblock %}