{% extends "base.html" %}
{% load humanize %}
{% load url from future %}

{% block content %}
<div class="showMap" id="map"></div>
<div class="container">
    <a class="toggleMap">Toggle Map</a>
  <div class="row">
    <div class="col-xs-12">
        It's not just big public schools, small private schools, or anywhere in between. Around the country, there is a growing discussion about the state of sexual assault on college campuses: how schools are handling it, how it should be legislated and monitored, how students are fighting back. The Culture of Yes aims to document this conversation and act as a resource for sexual assault survivors on college campuses. Click anywhere on the map and you can find out how students, administrators, teachers, and survivors are working together all over the country to make college campuses a safer place.
      {{data}}
    </div>
  </div>
</div>

{% endblock %}
